body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.nav-container {
    position: fixed;
    right: 2em;
    top: 2em;
    width: 3em;
    z-index: 100;
}

.bar {
    border-top: 2px solid black;
    margin-top: 0.5em;
}